# Table of Contents
- Import libraries

- Import Data

- Merging Data

- Export Data

# 01. Importing Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
# Path Setup
path = r'C:\Users\tom\Documents\Career Foundry\2022-05-29 Instacart Basket Analysis'

In [4]:
# List Setup
vars_list = ['order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_last_order']

In [17]:
# Import New Order Data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [7]:
# Import Order Data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), usecols = vars_list)

# 03. Merging Data

In [8]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
# Check the shape
df_ords_prior.shape

(32434489, 4)

In [11]:
# Check the shape
df_ords.shape

(3421083, 6)

In [12]:
# Merge both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
# Check the output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
# Check values
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
df_merged_large.shape

(32434489, 10)

# 04. Export Data

In [16]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))