# Table of Contents
- Import libraries

- Import Data

- Merging Data

- Export Data

# 01. Importing Libraries

In [20]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [21]:
# Path Setup
path = r'C:\Users\tom\Documents\Career Foundry\2022-05-29 Instacart Basket Analysis'

In [27]:
# Import New Order Data
df_orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [28]:
# Import Products Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 03. Merging Data

In [23]:
# Check head
df_orders_products.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [24]:
# Check dimensions
df_orders_products.shape

(32434489, 10)

In [30]:
# Merge dataframes
df_orders_products_merged = df_orders_products.merge(df_prods, on = 'product_id')

In [32]:
# View head
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [33]:
# View merged flag
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Export Data

In [34]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))